In [1]:
## Clean the shot_list.csv
## Create a new column named 'Season' by using '&' logic on 'Game_Date'
## Export cleanshots_csv

In [2]:
# Import dependices
import pandas as pd
import csv

In [3]:
# Import CSV file and create df
file = "shot_list.csv"
shotlist_df = pd.read_csv(file)
shotlist_df.head()

,Game_Date,Loc_X,Loc_Y,Player_ID,Player_Name,Team_ID,Team_Name
0,20001101,28,7,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets
1,20001102,0,0,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets
2,20001102,-189,78,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets
3,20001102,0,0,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets
4,20001102,0,0,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets

In [4]:
## Look at the data types
shotlist_df.dtypes

Game_Date       int64
Loc_X           int64
Loc_Y           int64
Player_ID       int64
Player_Name    object
Team_ID         int64
Team_Name      object
dtype: object

In [5]:
shotlist_df.head()

,Game_Date,Loc_X,Loc_Y,Player_ID,Player_Name,Team_ID,Team_Name
0,20001101,28,7,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets
1,20001102,0,0,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets
2,20001102,-189,78,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets
3,20001102,0,0,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets
4,20001102,0,0,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets

In [6]:
## Create logic that will use '&' on 'Game_Date' and arithmetic operators to create 'Season' column
## with '2003-04' format. This will also create 'NaN' values for all 'Game_Date' outside our range
## We can drop our 'NaN' values using .dropna()
## Finally we can reset the index by using .reset_index(drop=True)

In [7]:
## create identical df to test on
shotlist2_df = shotlist_df
shotlist2_df.head()

,Game_Date,Loc_X,Loc_Y,Player_ID,Player_Name,Team_ID,Team_Name
0,20001101,28,7,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets
1,20001102,0,0,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets
2,20001102,-189,78,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets
3,20001102,0,0,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets
4,20001102,0,0,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets

In [8]:
## Using 'Game_Date' column and '&' logic  to create a new 'Season' column
## Only using logic for desired Seasons
## Seasons outside our range will return 'NaN'

shotlist2_df.loc[(shotlist2_df.Game_Date >= 20030418) & (shotlist2_df.Game_Date < 20040430), 'Season'] = '2003-04'
shotlist2_df.loc[(shotlist2_df.Game_Date >= 20040418) & (shotlist2_df.Game_Date < 20050430), 'Season'] = '2004-05'
shotlist2_df.loc[(shotlist2_df.Game_Date >= 20050418) & (shotlist2_df.Game_Date < 20060430), 'Season'] = '2005-06'
shotlist2_df.loc[(shotlist2_df.Game_Date >= 20060418) & (shotlist2_df.Game_Date < 20070430), 'Season'] = '2006-07'
shotlist2_df.loc[(shotlist2_df.Game_Date >= 20070418) & (shotlist2_df.Game_Date < 20080430), 'Season'] = '2007-08'
shotlist2_df.loc[(shotlist2_df.Game_Date >= 20080418) & (shotlist2_df.Game_Date < 20090430), 'Season'] = '2008-09'
shotlist2_df.loc[(shotlist2_df.Game_Date >= 20090418) & (shotlist2_df.Game_Date < 20100430), 'Season'] = '2009-10'
shotlist2_df.loc[(shotlist2_df.Game_Date >= 20100418) & (shotlist2_df.Game_Date < 20110430), 'Season'] = '2010-11'
shotlist2_df.loc[(shotlist2_df.Game_Date >= 20110418) & (shotlist2_df.Game_Date < 20120430), 'Season'] = '2011-12'
shotlist2_df.loc[(shotlist2_df.Game_Date >= 20120418) & (shotlist2_df.Game_Date < 20130430), 'Season'] = '2012-13'
shotlist2_df.loc[(shotlist2_df.Game_Date >= 20130418) & (shotlist2_df.Game_Date < 20140430), 'Season'] = '2013-14'
shotlist2_df.loc[(shotlist2_df.Game_Date >= 20140418) & (shotlist2_df.Game_Date < 20150430), 'Season'] = '2014-15'
shotlist2_df.loc[(shotlist2_df.Game_Date >= 20150418) & (shotlist2_df.Game_Date < 20080430), 'Season'] = '2015-16'
shotlist2_df.loc[(shotlist2_df.Game_Date >= 20160418) & (shotlist2_df.Game_Date < 20080430), 'Season'] = '2016-17'
shotlist2_df.loc[(shotlist2_df.Game_Date >= 20170418) & (shotlist2_df.Game_Date < 20080430), 'Season'] = '2017-18'
shotlist2_df.loc[(shotlist2_df.Game_Date >= 20180418) & (shotlist2_df.Game_Date < 20080430), 'Season'] = '2018-19'

In [9]:
shotlist2_df.head()

,Game_Date,Loc_X,Loc_Y,Player_ID,Player_Name,Team_ID,Team_Name,Season
0,20001101,28,7,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets,NaN
1,20001102,0,0,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets,NaN
2,20001102,-189,78,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets,NaN
3,20001102,0,0,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets,NaN
4,20001102,0,0,1505,Tariq Abdul-Wahad,1610612743,Denver Nuggets,NaN

In [10]:
## We will drop all rows not in our desired range (ie. drop rows with 'NaN' values)
shotlist3_df = shotlist2_df.dropna()

In [11]:
## We are going to reset the index and use the 'drop' parameter to ensure the original index is not in a column
shotlist3_df.reset_index(drop=True)

,Game_Date,Loc_X,Loc_Y,Player_ID,Player_Name,Team_ID,Team_Name,Season
0,20031029,-113,28,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
1,20031029,62,63,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
2,20031029,-115,25,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
3,20031029,177,5,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
4,20031029,-100,143,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
5,20031031,51,168,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
6,20031031,-34,17,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
7,20031031,82,156,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
8,20031101,-41,59,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
9,20031104,13,0,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
10,20031106,0,0,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
11,20031106,0,0,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
12,20031106,0,0,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
13,20031107,13,0,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
14,20031107,5,10,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
15,20031107,158,81,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
16,20031107,184,-11,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
17,20031109,0,0,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
18,20031109,1,122,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
19,20031109,0,0,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
20,20031109,6,164,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
21,20031109,0,0,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
22,20031111,-29,15,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
23,20031114,-171,68,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
24,20031114,74,173,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
25,20031114,-6,43,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
26,20031115,163,107,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
27,20031119,-34,30,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
28,20031119,57,10,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
29,20031119,-31,120,72,Kenny Anderson,1610612754,Indiana Pacers,2003-04
...,...,...,...,...,...,...,...,...
631786,20131206,141,9,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631787,20131206,15,7,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631788,20131213,9,164,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631789,20131213,121,175,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631790,20131213,193,170,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631791,20131213,-136,55,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631792,20131213,86,205,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631793,20131217,179,208,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631794,20131217,-232,19,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631795,20131217,-123,131,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631796,20131218,-231,74,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631797,20131218,245,-11,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631798,20131218,130,-11,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631799,20131218,237,108,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631800,20131221,1,66,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631801,20131221,-182,176,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631802,20131227,-196,-8,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631803,20131227,-146,209,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631804,20131227,-228,22,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631805,20131230,187,6,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631806,20140101,6,7,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631807,20140101,-5,0,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631808,20140101,152,187,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631809,20140107,-92,123,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631810,20140107,21,9,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631811,20140110,29,4,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631812,20140113,-139,200,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631813,20140113,1,60,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631814,20140124,-152,86,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14
631815,20140124,-29,250,201627,Anthony Morrow,1610612740,New Orleans Pelicans,2013-14

In [12]:
## Export our clean shot_list
shotlist3_df.to_csv("master_shot.csv", encoding='utf-8')